<!DOCTYPE html>
<html lang="no">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sykkelverksted System</title>
    <link rel="stylesheet" href="Styles.css">
</head>

<body>
    <h1>Velkommen til mitt verksted System</h1>

    <form id="repairForm">
        <label for="mechanic">Mekaniker-ID:</label>
        <input type="text" id="mechanic" name="mechanic_id" required>

        <label for="description">Beskrivelse:</label>
        <input type="text" id="description" name="description" required>

        <label for="totalPrice">Totalpris:</label>
        <input type="number" id="totalPrice" name="total_price" required>
        <button type="submit">Legg til Reparasjon</button>
    </form>

    <div class="Redigeringsknapper">
        <button onclick="window.location.href = 'search.html'">Søk</button>
        <button onclick="window.location.href = 'index.html'">Hjem</button>
        <button onclick="window.location.href = 'Insert.html'">Legg til varer</button>
        <button onclick="window.location.href = 'Varer.html'">Varer</button>
        
    </div>

    <nav>
        <ul>
            <li><a href="search.html">Søk</a></li>
            <li><a href="/">Hjem</a></li>
            <li><a href="Insert.html">Legg til varer</a></li>
            <li><a href="Varer.html">Se varer</a></li>
        </ul>
    </nav>

        <div id="repairs">
            <h2>Liste over reparasjoner</h2>
            <!-- Reparasjoner og slett-knapper blir dynamisk lagt til her -->
        </div>

    </div>


    <script src="script.js"></script>
</body>





</html>