<!DOCTYPE html>
<html lang="no">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sykkelverksted System</title>
    <link rel="stylesheet" href="Styles.css">
</head>

<body>
    <h1>Velkommen til Bengs verksted System</h1>

    <form id="repairForm">
        <label for="mechanic">Mekaniker-ID:</label>
        <input type="text" id="mechanic" name="mechanic_id" required>

        <label for="description">Beskrivelse:</label>
        <input type="text" id="description" name="description" required>

        <label for="totalPrice">Totalpris:</label>
        <input type="number" id="totalPrice" name="total_price" required>
<!--
        <label for="customerName">Kunde navn:</label>
        <input type="text" id="customerName" name="customer_name" required>
    
        <label for="bikeModel">Sykkel modell/merke:</label>
        <input type="text" id="bikeModel" name="bike_model" required>
    
        <label for="color">Farge:</label>
        <input type="text" id="color" name="color" required>
    
        <label for="phoneNumber">Telefonnummer:</label>
        <input type="tel" id="phoneNumber" name="phone_number" pattern="[0-9]{8}" required>
        <small>Format: 8 digits</small>
    
        <label for="email">Epost:</label>
        <input type="email" id="email" name="email" required>
    
        <label for="checkInDate">Dato sjekket inn:</label>
        <input type="date" id="checkInDate" name="check_in_date" required>
-->
        <button type="submit">Legg til Reparasjon</button>
    </form>
    
<div class="Redigeringsknapper">
    <button onclick="window.location.href = 'search.html'">Søk</button>
    <button onclick="window.location.href = ''">Slett</button>
    <button onclick="window.location.href = ''">Status</button>
    <button onclick="window.location.href = 'varer.html'">Varer</button>
</div>

    <div id="repairs">
        <h2>Liste over reparasjoner</h2>
        <!-- Reparasjoner blir lastet her -->
    </div>

    <script src="script.js"></script>
</body>





</html>