<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Product Search</title>
    <link rel="stylesheet" href="../Static/Styles.css">
</head>

<body>
    <h1>Search Products</h1>
    <input type="text" name="search_query" oninput="searchDatabase(this.value)"
        placeholder="Enter product name or 'all' to view all">
    <table id="search-resultat">

    </table>


    <li><a href="search.html">Søk</a></li>
    <li><a href="/">Hjem</a></li>
    <li><a href="Insert.html">Legg til varer</a></li>
    <li><a href="Varer.html">Se varer</a></li>

</body>
<script src="script.js"></script>

</html>
